NewsTestApp.xcodeproj/xcuserdata/shizo663.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
NewsTestApp.xcodeproj/xcuserdata/shizo663.xcuserdatad/xcschemes/xcschememanagement.plist
NewsTestApp.xcworkspace/xcuserdata/shizo663.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
